.loading-screen {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  .top-curtain {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    will-change: transform;
  }
  .bottom-curtain {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    will-change: transform;
  }
}
