$breakpoints: (
  "mobile": 768px,
  "tablet": 768px,
  "desktop": 1024px,
  "desktopXL": 1200px,
);

$colors: (
  "primary": #9224ff,
  "black": #1c1c1c,
  "white": #ffffff,
  "grey": #b0b0b0,
  "lightGrey": #e1e1e1,
);

$spacing: 8;
